<p id="notice"><%= notice %></p>

<h1><%= @user.name %></h1>

<div class="profile_picture">
  <%= get_user_picture(@user, :size => "large", :class => "thumbnail")  %>
</div>
<br/>
<h3>(<strong><%= @user.purchases.count %></strong>) Bought dinners</h3>
<h3>Member since <strong><%= distance_of_time_in_words_to_now(@user.created_at, true)  %></strong> ago</h3>
<br/>
<h3>I Went to:</h3>
<br/>
<ul class="thumbnails">
<% @user.purchases.each do |purchase| %>
  <li id="pursache_<%= purchase.id %>" class="span12">
    <div class="dinner-image span2">
        <%= link_to image_tag(purchase.dinner.photo.url(:thumb), :width => "160", :height => "120"), purchase.dinner, :class => "thumbnail" %>
    </div>
    <div class="dinner-details span4">
      <h2 class="dinner-title">
        <%= link_to purchase.dinner.name, purchase.dinner %>
      </h2>
      <div class="dinner-restaurant">
        <%= link_to purchase.dinner.restaurant.name, purchase.dinner.restaurant %>
      </div>
    </div>

    <div class="dinner-when span2">
       <%= purchase.dinner.date.to_formatted_s(:short) %>
    </div>

    <div class="dinner-actions span2">
      <div class="dinner-price">
        <sup>€</sup><%= purchase.dinner.price %>
      </div>
    </div>
  </li>
<% end %>
</ul>