<%= form_for([@dinner, @purchase]) do |f| %>

  <% if @purchase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>
      <ul>
      <% @purchase.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <h3><%= @dinner.name %> - <%= @dinner.date.to_formatted_s(:short) %></h3>

  <div class="row">
    <div class="span5">
      <%= image_tag(@dinner.photo.url(:medium)) %>

      <% if not @dinner.description.empty? %>
      <p>
        <b>Description:</b>
        <%= @dinner.description %>
      </p>
      <% end %>

      <div class="dinner-price">
         <span>Price</span>
         <sup>€</sup><%= @dinner.price %>
       </div>

    </div>
    <div class="span3 thumbnail">
      <%= link_to image_tag(@dinner.restaurant.photo.url(:thumb)), @dinner.restaurant %>
      <div class="caption">
        <h5><%= link_to @dinner.restaurant.name, @dinner.restaurant %></h5>
        <p><%= @dinner.restaurant.address %></p>
        <p><%= link_to "View Restaurant", @dinner.restaurant, :class => "btn btn-primary" %></p>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= f.submit(:value => "Purchase Dinner", :class => "btn btn-large btn-success") %>
  </div>
<% end %>
