<p>About stuff</p>

Contains
<ul>
  <li>Painel de Administração com gestão dos conteúdos</li>
  <li>Login com facebook ou criação de conta</li>
  <li>Visualização de restaurantes, jantares, utilizadores, quem foi, quem vai</li>
  <li>"Compra" de jantares</li>
  <li>Upload de imagens para repositório externo Amazon S3</li>
  <li>Visualização no google maps do local (com geocoding), estava a colocar uma pesquisa georeferenciada mas ainda me faltava umas coisas</li>
  <li>Facebook Likes</li>
</ul>