<div class="span12">
  <h1>upcoming dinners</h1>

  <p>Attend one of our dinners!</p>
</div>

<ul class="thumbnails">
<% @dinners.each do |dinner| %>
  <li id="dinner_<%= dinner.id %>" class="span12">
    <div class="dinner-image span2">
        <%= link_to image_tag(dinner.photo.url(:thumb), :width => "160", :height => "120"), dinner, :class => "thumbnail" %>
    </div>
    <div class="dinner-details span4">
      <h2 class="dinner-title">
        <%= link_to dinner.name, dinner %>
      </h2>
      <div class="dinner-restaurant">
        <%= link_to dinner.restaurant.name, dinner.restaurant %>
      </div>
      <ul class="dinner-people thumbnails">
        <% dinner.purchases(:limit => 5).each do |purchase| %>
          <li class="person_<%= purchase.user.id %>" alt="<%= purchase.user.name %>">
            <%= link_to get_user_picture(purchase.user), purchase.user, :class => "thumbnail" %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="dinner-when span2">
       <%= dinner.date.to_formatted_s(:short) %>
    </div>

    <div class="dinner-actions span2">
      <div class="dinner-price">
        <sup>€</sup><%= dinner.price %>
      </div>
      <div class="dinner-buybtn">
        <% if user_signed_in? %>
          <% if can_i_book_it? dinner %>
            <%= link_to 'Buy this dinner', new_dinner_purchase_path(dinner), :class => "btn btn-small" %>
          <% else %>
            <%= link_to 'Already booked', dinner, :class => "btn btn-small btn-success" %>
          <% end %>
        <% else %>
          <%= link_to 'Buy', new_user_session_path, :class => "btn btn-small" %>
        <% end%>
      </div>
    </div>

  </li>
<% end %>
</ul>

<div class="pull-right">
  <%= paginate @dinners %>
</div>
