<br />
<%= form_tag restaurants_path, :class => "well form-search", :method => :get do %>
  <div class="span6 offset3">
    <%= text_field_tag :search, params[:search], :class => "search-query span3" %>
    <%= select_tag "distance", options_for_select(%w{ 10 25 50 100 }), :class => "span1" %>
    <%= submit_tag "Restaurants near me", :name => nil, :class => "btn btn-success" %>
  </div>
<% end %>

<br />

<div class="span6 offset3">
<% if params[:search].present? %>
  <p>Restaurants <%= params[:distance] %> miles around <%= params[:search] %></p>
<% else %>
  <p>Restaurants <%= params[:distance] %> miles around your location <%= "(#{@response.city}, #{@response.country})" %> </p>
<% end %>
</div>

<br />

<ul class="thumbnails">
<% @restaurants.each do |restaurant| %>
  <li id="restaurant_<%= restaurant.id %>" class="span12">
    <div class="dinner-image span2">
        <%= link_to image_tag(restaurant.photo.url(:thumb), :width => "160", :height => "120"), restaurant, :class => "thumbnail" %>
    </div>
    <div class="dinner-details span4">
      <h2 class="dinner-title">
        <%= link_to restaurant.name, restaurant %>
      </h2>
      <div class="dinner-restaurant">
        <%= restaurant.address %>
      </div>
    </div>

    <div class="dinner-actions span2">
      <%= link_to 'View this restaurant', restaurant, :class => "btn btn-small" %>
    </div>

  </li>
<% end %>
</ul>

<%= paginate @restaurants %>
