<p id="notice"><%= notice %></p>

<div class="row">

  <div class="span6">
    <h1><%= @restaurant.name %></h1>

    <p>
      <%= image_tag(@restaurant.photo.url(:thumb)) %>
    </p>

    <% if !@restaurant.description.empty? %>
      <p>
        <b>Description:</b>
        <%= @restaurant.description %>
      </p>
    <% end %>

    <p>
      <b>Address:</b>
      <%= @restaurant.address %>
    </p>
  </div>

  <div class="span6">
    <div id="map" style="width: 100%; height: 400px"></div>
  </div>
</div>

<br />

<h2>Dinners</h2>
<ul class="thumbnails">
<% @restaurant.dinners.order(:date).each do |dinner| %>
  <li id="dinner_<%= dinner.id %>" class="span12">
    <div class="dinner-image span2">
        <%= link_to image_tag(dinner.photo.url(:thumb), :width => "160", :height => "120"), dinner, :class => "thumbnail" %>
    </div>
    <div class="dinner-details span4">
      <h2 class="dinner-title">
        <%= link_to dinner.name, dinner %>
      </h2>
      <div class="dinner-restaurant">
        <%= link_to dinner.restaurant.name, dinner.restaurant %>
      </div>
      <ul class="dinner-people thumbnails">
        <% dinner.purchases(:limit => 5).each do |purchase| %>
          <li class="person_<%= purchase.user.id %>" alt="<%= purchase.user.name %>">
            <%= link_to get_user_picture(purchase.user), purchase.user, :class => "thumbnail" %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="dinner-when span2">
       <%= dinner.date.to_formatted_s(:short) %>
    </div>

    <div class="dinner-actions span2">
      <div class="dinner-price">
        <sup>€</sup><%= dinner.price %>
      </div>
      <div class="dinner-buybtn">
        <% if user_signed_in? %>
          <%= link_to 'Buy this dinner', new_dinner_purchase_path(dinner), :class => "btn btn-small" %>
        <% else %>
          <%= link_to 'Buy', new_user_session_path, :class => "btn btn-small" %>
        <% end%>
      </div>
    </div>

  </li>
<% end %>
</ul>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
  var map = new GMaps({
    div: '#map',
    lat: <%= @restaurant.latitude %>,
    lng: <%= @restaurant.longitude %>
  });

  GMaps.geocode({
    address: "<%= @restaurant.address %>",
    callback: function(results, status) {
      if (status == 'OK') {
        var latlng = results[0].geometry.location;
        map.setCenter(latlng.lat(), latlng.lng());
        map.addMarker({
          lat: latlng.lat(),
          lng: latlng.lng()
        });
      }
    }
  });
});
</script>
