/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require home
 * require_tree .
 *= require bootstrap_and_overrides
 */

 #map img {
     max-width: none;
 }

a.auth_button {
  vertical-align: middle;
  overflow: hidden;
  text-indent: -9999px;
  display: inline-block;
  width: 150px;
  height: 22px;
  margin-right: 2px;
  /* sprite awesomeness */

}
a.auth_button.facebook {
  background: transparent url("/assets/signin_facebook.png") no-repeat top left;
}

a.auth_button:hover {
  background-position: 0px -24px;
}
a.auth_button:active {
  background-position: 0px -48px;
}


a {
    color: #1D95CB;
}

.dinner-title {
  max-width: 368px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 20px;
  font-weight: bold;
  line-height: 22px;
  letter-spacing: -0.6px;
}

.dinner-people {
  margin-top: 20px;
}

.dinner-restaurant a {
  font-size: 13px;
  color: #B0B2B4;
}

.dinner-when {
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 20px;
  font-weight: bold;
  line-height: 22px;
  letter-spacing: -0.6px;
  color: #B0B2B4;
}

.dinner-price {
  color: #3D3D3D;
  font-size: 36px;
  font-weight: bold;
  line-height: 44px;
  height: 44px;
  letter-spacing: -0.5px;
  padding: 2px 10px 0 0;
}

.dinner-price sup {
  font-size: 24px;
  font-weight: normal;
  vertical-align: top;
  line-height: 32px;
}
