<p id="notice"><%= notice %></p>

<h1><%= @dinner.name %> - <%= @dinner.date.to_formatted_s(:short) %></h1>

<div class="row">
  <div class="span5">
    <%= image_tag(@dinner.photo.url(:medium)) %>

    <% if not @dinner.description.empty? %>
    <p>
      <b>Description:</b>
      <%= @dinner.description %>
    </p>
    <% end %>

  </div>
  <div class="span3 thumbnail">
    <%= link_to image_tag(@dinner.restaurant.photo.url(:thumb)), @dinner.restaurant %>
    <div class="caption">
      <h5><%= link_to @dinner.restaurant.name, @dinner.restaurant %></h5>
      <p><%= @dinner.restaurant.address %></p>
      <p><%= link_to "View Restaurant", @dinner.restaurant, :class => "btn btn-primary" %></p>
    </div>
  </div>
</div>

<% if !@purchase_users.empty? %>
  <div class="span12">
    <b>People who have already purchased</b>
    <ul class="thumbnails">
      <% @purchase_users.each do |user| %>
        <li class="thumbnail"><%= link_to get_user_picture(user), user %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="row">
<% if user_signed_in? %>
  <% if can_i_book_it? @dinner %>
    <% if date_bookable? @dinner %>
      <%= link_to 'Book it!', new_dinner_purchase_path(@dinner), :class => "btn btn-success btn-large" %>
    <% else %>
      <%= link_to 'You missed this dinner!', root_path, :class => "btn btn-danger btn-large", :disabled => :disabled %>
    <% end %>
  <% else %>
    <%= link_to 'Dinner already booked!', "#", :class => "btn btn-success btn-large", :disabled => :disabled %>
  <% end %>
<% else %>
  <%= link_to 'Login to Book!', new_user_session_path, :class => "btn btn-danger btn-large" %>
<% end%>
</div>

<br />
<div class="row">
  <%= facebook_like :url => url_for(:only_path => false), :class => "complete" %>
</div>
